<h1> Create your Articles </h1>

<% if @articles.errors.any? do |msg| %>
<h2>The following erros was prevented the article from getting created!</h2>
<ul>
  <% @articles.errors.full_messages.each do |msg| %>
  <li> <%= msg %> </li>
  <% end %>
</ul>
<% end %>

<% end %>

<%= form_for @articles do |m| %>
  <p>
    <%= m.label :title %><br/>
    <%= m.text_field :title %>
  </p>
  <p>
    <%= m.label :description %><br/>
    <%= m.text_area :description %>
  </p>
  <p>
    <%= m.submit %>
  </p>
<% end %>
